@import "font.scss";

.clip {
  margin: 32px 16px 40px 16px;

  &__title {
    font-family: myBold;
    font-size: 1.5em;
    margin-bottom: 16px;
  }

  &__letters {
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
  }

  #channel {
    font-family: mydemi;
    margin-right: 8px;
  }
  #date {
    color: #afafaf;
  }

  #views,
  #hearts {
    margin-right: 24px;
  }

  &__likes {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;

    img {
      margin-right: 8px;
    }
  }

  &__description {
    font-size: 13px;
    border-top: 1px solid #e1e1e1;
    padding-top: 24px;
  }
}

@media only screen and (min-width: 768px) {
  .clip {
    margin: 48px 24px;
    &__title {
      font-size: 1.9em;
      margin-bottom: 24px;
    }
    #clip {
      border-bottom: 1px solid #e1e1e1;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    #hearts {
      margin: 0px;
    }

    &__description {
      border: none;
      padding-top: 40px;
      padding-right: 224px;
      font-size: 1.75vw;
    }
  }
}

@media only screen and (min-width: 1440px) {
  .clip {
    margin: 48px 0px 48px 24px;
    &__likes {
      padding-right: 32px;
    }
    &__description {
      width: 472px;
      padding-right: 248px;
      font-size: 13px;
    }
  }
}
