@import "font.scss";

.users {
  margin: 0px 16px;
  padding: 24px 0px;
  display: flex;
  border-bottom: 1px solid #e1e1e1;

  &__mercury {
    margin-top: 12px;
    width: 48px;
    height: 48px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
  }

  &__comment {
    margin-left: 18px;

    &--status {
      margin: 12px 0px;
      display: flex;
      justify-content: space-between;
      #name {
        font-family: myMedium;
      }
      #date {
        color: #afafaf;
      }
    }

    &--status,
    &--mention {
      font-size: 13.5px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .users {
    margin: 0px 24px;
    padding-right: 40px;
    &__comment {
      &--status {
        justify-content: start;
      }
      #name {
        margin-right: 16px;
      }

      &--status,
      &--mention {
        font-size: 14.5px;
      }
    }
  }
}

@media only screen and (min-width: 1440px) {
  .users {
    margin: 0px 0px 0px 24px;
    &__comment {
      &--mention {
        font-size: 15px;
      }
    }
  }
}
