@font-face {
  font-family: Regular;
  src: url("../assets/globalfont/AvenirNextProLT/Linotype-AvenirNextLTPro-Light.otf");
}

@font-face {
  font-family: myDemi;
  src: url("../assets/globalfont/AvenirNextProLT/Linotype-AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: myMedium;
  src: url("../assets/globalfont/AvenirNextProLT/Linotype-AvenirNextLTPro-Medium.otf");
}

@font-face {
  font-family: myBold;
  src: url("../assets/globalfont/AvenirNextProLT/Linotype-AvenirNextLTPro-Bold.otf");
}
